

body {
  padding: 30px;
}

h1 {
  font-size: 4rem;
}

ul {
  width: 320px;
}

.addToDoForm {
  width: 320px;
}

#mdl-custom .mdl-textfield__input {
  width: 75%;
  margin: 10px;
}

.mdl-textfield .mdl-button {
    left: 190px;
}
